/*
body {
   display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
*/
  .section-header {
      text-align: center;
  }

  .infoBox {
      display: flex;
      border: 5px black solid;
      color:purple;
      padding: 0 20px;
  }

  .submitButton {
      text-align: center;
  }

  .sampleMagnet {
      display: flex;
      //justify-content: center;
      height: 275px;
      // width: 453.5px;
      width: 479px;
      border: 5px solid black;
  }

  .magnetBox {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-image: url("assets/images/EthosMagnet.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        padding: 5px;
  }

  .topLine {
    display: flex;
    flex-direction: row;
  }

  .nextLines {
    display: flex;
    flex-direction: column;
  }
  .logo-box {
    background-color: green;
    display: flex;
    height: 65px;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    width:  75px;
  }

  .nametitle-box {
    display: flex;
    flex-direction: column;
    font-family: 'EB Garamond', serif;
    font-size: 1.3em;
    height: 75px;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: bottom;
    width: 256px;
  }
  
  .contactinfo-box {
    display: flex;
    // background-color: pink;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    // height: 116px;
    margin: 0px ;
    padding-left: 10px;
    // width: 336px;
    /* https://www.w3schools.com/css/css_align.asp*/
    // line-height: 1.5;

    vertical-align: middle;
  }

  .miscinfo-box {
    display: flex;
    // background-color: pink;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    // height: 116px;
    margin: 0px ;
    padding-left: 10px;
    // width: 336px;
    /* https://www.w3schools.com/css/css_align.asp*/
    // line-height: 1.5;

    flex-direction: column;
    
    vertical-align: middle;
  }
  
  #cardName {
    font-style: bold;
    margin: 0px ;
    padding: 0px;
  }
  
  #cardTitle {
    font-style: oblique;
    margin: 0px ;
    padding: 0px;
  }